// Font faces
@font-face {
    font-family: landasans;
    src: url(assets/fonts/landasans-medium.ttf);
}

html, body { height: 100%; }
// add declared landasans font
body { margin: 0; font-family: landasans, Roboto, "Helvetica Neue", sans-serif; }
