<main>
    <header fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center space-between">
        <!--original image is 400x203 -->
        <img id="cover-img" fxFlex="200px" src="assets/images/title.png" height="100" alt="Dalitso Sakala">


        <div fxFlex="" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.xs="space-between" [style.padding.px]="20">

            <img id="cover-img-mini" fxFlex="50px" src="assets/images/title-mini.png" height="50px" alt="DS">

            <a href="https://github.com/DalitsoSakala">
                <img src="assets/images/github.png" width="50" height="50" alt="">
            </a>
        </div>

        <img id="avatar" fxFlex="180px" fxFlex.xs="100"
            src="https://pbs.twimg.com/profile_images/1506824902992617479/boI5kcdN_400x400.jpg" height="180" alt="">
    </header>




    <div class="card-row" fxLayout.gt-sm="row" fxLayout="column" fxLayoutGap="2rem" fxLayoutAlign="space-between">
        <mat-card>
            <mat-card-title>Contact Me</mat-card-title>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>mail</mat-icon>
                    <a href="mailto:contact@dalitsosakala.com">contact@dalitsosakala.com</a>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>alternate_email</mat-icon>
                    <a href="https://twitter.com/aboutdalitso">aboutDalitso</a>
                </mat-list-item>
            </mat-list>
        </mat-card>


        <mat-card>
            <mat-card-subtitle>
                <h4><mat-icon>work</mat-icon> Past Projects</h4>
            </mat-card-subtitle>
                <mat-list>
                    <mat-list-item *ngFor="let project of pastProjects">
                        <div mat-line>
                            <h5>{{project.name}}</h5>
                        </div>
                        <div mat-line=""><span>{{project.about}}</span></div>
                    </mat-list-item>
                </mat-list>
        </mat-card>
    </div>




    <div class="card-row" [style.margin-top.rem]="3" fxLayout="row" fxLayoutAlign="space-between">
        <mat-card>
            <mat-card-subtitle><h4><mat-icon>star</mat-icon> Openings</h4></mat-card-subtitle>
            <mat-list>
                <mat-list-item class="pointer" *ngFor="let opening of currentOpenings" [routerLink]="['','openings',opening.link]">
                    <div mat-line>
                        <h5>{{opening.name}}</h5>
                        <span fxFlex=""></span>
                        <a [routerLink]="['','openings',opening.link]">
                            <mat-icon>link</mat-icon>
                        </a>
                    </div>
                    <div mat-line=""><span>{{opening.about}}</span></div>
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>

</main>
