<main>
    <header fxLayout.xs="column" fxLayout="row" fxLayoutAlign="center space-between">
        <!--original image is 400x203 -->
        <img id="cover-img" fxFlex="200px" src="assets/images/title.png" height="100" alt="Dalitso Sakala">


        <div fxFlex="" fxLayout="row" fxLayoutAlign="center"  fxLayoutAlign.xs="space-between" [style.padding.px]="20">

            <img id="cover-img-mini" fxFlex="50px" src="assets/images/title-mini.png" height="50px" alt="DS">

            <a href="https://github.com/DalitsoSakala">
                <img src="assets/images/github.png" width="50" height="50" alt="">
            </a>
        </div>

        <img id="avatar" fxFlex="180px" fxFlex.xs="100"
            src="https://pbs.twimg.com/profile_images/1506824902992617479/boI5kcdN_400x400.jpg" height="180" alt="">
    </header>




    <div id="contact-box" fxLayout="row" fxLayoutAlign="start">
        <section>
            <p>Email: <a href="mailto:contact@dalitsosakala.com">contact@dalitsosakala.com</a><br>
                <a id="alt-email" href="mailto:dalitso.sakala@cs.unza.zm">dalitso.sakala@cs.unza.zm</a>
            </p>
            <p>Phone: +260969044766</p>
            <p>https://dalitsosakala.com</p>
        </section>
    </div>

</main>